extends base.pug

block style 
    style 
        include ../static/style.css
    style 
        include ../static/contact.css
block scripts
    script(src="/static/contact.js") 
block content 
    nav#navbar 
          ul 
            div.headimg
                img(src="/static/img/headimg.jpg", alt="", srcset="") 
                h4 H-D-A 
            li #[a(href="/") Home] 
            li #[a(href="/about") About] 
            li #[a(href="/service") Services] 
            li #[a(href="/information") Class Info] 
            li #[a(href="/contact") Contact]
    section#button 
        button#btn
            | CLICK for Admission Form  
    section#contact 
        h1#head Contact Us  
        div#form
            form(action="/contact", method="post" )
                input(type="text", name="name",id="name",placeholder="Enter your name") 
                input(type="text", name="age",id="age",placeholder="Enter your Age") 
                input(type="text", name="gender",id="gender",placeholder="Enter your Gender") 
                input(type="email", name="email",id="email",placeholder="Enter your Email Id") 
                input(type="phone", name="phone",id="phone",placeholder="Enter your PhoneNo.") 
                input(type="date", name="date",id="date",placeholder="Enter your admission Date") 
                select(name="dancetypes")
                    option(value="selectdancetype") SELECT DANCE TYPES  
                    option(value="HIPHOP") HIPHOP  
                    option(value="SALSA") SALSA   
                    option(value="BOLLYWOOD") BOLLYWOOD  
                    option(value="FREE STYLE") FREE STYLE  
                    option(value="CONTAMPARY") CONTAMPARY  
                    option(value="BELLYDANCE") BELLY DANCE  
                    option(value="ROBOTIC") ROBOTIC  
                    option(value="BREAKDANCE") BREAK DANCE  
                    option(value="B-BOYING") B-BOYING 
                    option(value="GARBA") GARBA and DANDHIYA 
                    option(value="TREDITIONAL") TREDITIONAL
                button#submit 
                    | SUBMIT
block scripts
    script(src="/static/contact.js")  