doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
          include ../static/style.css
    body
       nav#navbar 
          ul 
            div.headimg
                img(src="/static/img/headimg.jpg", alt="", srcset="") 
                h4 H-D-A 
            li #[a(href="/") Home] 
            li #[a(href="/about") About] 
            li #[a(href="/service") Services] 
            li #[a(href="/information") Class Info] 
            li #[a(href="/contact") Contact]  
    section#intro         
        h1 Welcome To Hemanshu Dance Academy(HDA)
        h3 Eat Sleep Dance Repeat.....
    h1 Our Mission......
    section#mission 
        div.card
            h2 Dance Perfection
            div.cardimg
                img(src="/static/img/img1.jpg", alt="")
                p This is the best dance academy in the universe..
        div.card
            h2 All types dance Here
            div.cardimg
                img(src="/static/img/img2.jpg", alt="")
                p This is the best dance academy in the universe..
        div.card
            h2 Expert Teaching
            div.cardimg
                img(src="/static/img/img3.jpg", alt="")
                p This is the best dance academy in the universe..
    section#service 
        h1 Our Services....   
        div#logo
            div.logo
                 img(src="/static/img/logo8.png", alt="")
                 img(src="/static/img/logo5.png", alt="")
                 img(src="/static/img/logo6.png", alt="")
                 img(src="/static/img/logo7.png", alt="")
    footer 
        | copyright 2021 HemanshuDanceAcademy.com            