extends base.pug

block style 
    style 
        include ../static/style.css
    style 
        include ../static/info.css
block content 
    nav#navbar 
          ul 
            div.headimg
                img(src="/static/img/headimg.jpg", alt="", srcset="") 
                h4 H-D-A 
            li #[a(href="/") Home] 
            li #[a(href="/about") About] 
            li #[a(href="/service") Services] 
            li #[a(href="/information") Class Info] 
            li #[a(href="/contact") Contact] 
    section#information 
        h1#info Photos of (HDA) Dance Competition...
        div#CDP 
            div.CDP
                img(src="/static/img/info1.jpg", alt="dance competition photos of (HDA)", srcset="")
            div.CDP
                img(src="/static/img/info2.jpg", alt="dance competition photos of (HDA)", srcset="")
            div.CDP
                img(src="/static/img/info3.jpg", alt="dance competition photos of (HDA)", srcset="")
        div#CDP 
            div.CDP
                img(src="/static/img/info4.jpg", alt="dance competition photos of (HDA)", srcset="")
            div.CDP
                img(src="/static/img/info5.jpg", alt="dance competition photos of (HDA)", srcset="")
            div.CDP
                img(src="/static/img/info6.jpg", alt="dance competition photos of (HDA)", srcset="")
        div#CDP 
            div.CDP
                img(src="/static/img/info7.jpg", alt="dance competition photos of (HDA)", srcset="")
            div.CDP
                img(src="/static/img/info8.jpg", alt="dance competition photos of (HDA)", srcset="")
            div.CDP
                img(src="/static/img/info9.jpeg", alt="dance competition photos of (HDA)", srcset="")
    section#infoofclass 
        div.HDAinfo
            p Our class (HDA) is to spread dance talent to everyperson because in our india their are many talented dancer t who did not show talent to anybody , beacuse he scared that they dont lose dance , that why i am open a dance classes , beacuase in that person  i am also scared to do dance in competition but i did dance baecuse i want to make my india name higest in the world. AND I DID IT .Now is your turn to make india name proud in the world. And in my class my students doing dance competition and winning the shows of dance and make proud to india and my classess also .. For your loves we can make a (HDA) branch in USA. Kepp loving our classes and join Us... Thankyou!!!....
